<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>lomozm</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>ABAP</string>
	<key>uuid</key>
	<string>A4130151-178C-4440-AD81-F5F7303D73DF</string>
</dict>
</plist>
